/*
 * nRF52840 DK overlay
 * For now we just ensure GPIO / PWM are enabled and use
 * the board's default button/LED definitions and aliases.
 */
&gpio0 {
	status = "okay";
};

&pwm0 {
	status = "okay";
};
