/*
 * nRF52840 DK: enable GPIO and PWM. User button SW1 = P0.11.
 */
&gpio0 {
	status = "okay";
};

&pwm0 {
	status = "okay";
};

/ {
	aliases {
		sw0 = &button0;
	};
	gpio_keys {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "User button";
		};
	};
};
