[package]
name = "app_rust"
version = "0.1.0"
edition = "2021"
description = "BLE Switch application logic (Rust)"

[lib]
crate-type = ["staticlib"]

[dependencies]

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1
panic = "abort"
strip = true
